body{
	background-image: url(UIUC.jpg);
	background-attachment: fixed;
	background-size: 1673px 887px;
}
.main-column {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	margin-top: 100px;
	width: 900px;
	z-index: -10;
	padding: 8px;
	padding-top: 10px;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 60px;
	background-color: white;
	opacity: .8;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
	font-size: 16px;
	}
p {
	line-height: 2em;
	color: ;
}
.me{
	float: right;
	height: 220px;
	width: 165px;
	opacity: 1;
}
ul > li {
	line-height: 2em;
}
.bottombar{
	width:900px;
	background-color: white;
	opacity: .8;
	z-index: 10;
	height: 100px;
	line-height: 100px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	padding-left: 70px;
	padding-right: 70px;
}
#contact{
	width: 300px;
	float: left;
	color:;
	line-height: 1em;
	text-align: center;
}
img{
	float: right;
	width:50px;
	height: 50px;
	float: left;
	margin: 20px 20px;
	background-color:;
	margin-top: 25px;
	margin-bottom: 25px;
}
.topbar{
	position: fixed;
	left:0px;
	top:0px;
	right:auto;
	width:2000px;
	background-color: white;
	opacity: .8;
	border-bottom: solid black 1px;
	z-index: 10;
	height: 30px;
	padding-left: 0px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
	font-size: 14px;
	overflow: auto;
}
.linkswrapper{
	width:1500px;
	margin-left: 0px;
}
.toplink a:link{
	width:206px;
	float:left;
	text-align: center;
	height: 29px;
	color: black;
	text-decoration: none;
	border: solid black 1px;
	line-height: 29px;
	display: inline-block;

}
.toplink a:visited{
	width:206px;
	float:left;
	text-align: center;
	height: 29px;
	color: black;
	text-decoration: none;
	border: solid black 1px;
	line-height: 29px;
	display: inline-block;
}
.toplink a:hover{
	width:206px;
	float:left;
	text-align: center;
	height: 29px;
	color: gray;
	text-decoration: none;
	border: solid black 1px;
	line-height: 29px;
	display: inline-block;

}
.toplinkactive a:link, a:visited{
	width:206px;
	float:left;
	text-align: center;
	height: 29px;
	padding-top: 0px;
	color: gray;
	text-decoration: none;
	border: solid black 1px;
	line-height: 29px;
	display: inline-block;
}
.name{
	width:200px;
	float:left;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: white;
	background-color: black;
	font-size: 22px;

}
